<bpm-panel>
    <span data-panel-heading>
        Palette
    </span>
    <div data-panel-body class="palette">
        <ul class="fa-ul">
            <li>
                <div (click)="onClick('Select')" class="palette-item select">
                    <i class="fa-li fa fa-mouse-pointer"></i>
                    Select
                </div>
            </li>
            <li>
                <div (click)="onClick('Marquee')" class="palette-item">
                    <i class="fa-li fa fa-yelp"></i>
                    Marquee
                </div>
            </li>
        </ul>
    </div>
</bpm-panel>