<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default panel-shadow">
                <div class="panel-body">
                    Toolbar with icons and commands "delete", "zoom-in", "zoom-out", etc.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 col-md-push-3 col-drawing-area">
            <div class="panel panel-default panel-shadow drawing-area">
                <ng-content select="bpm-drawing-area"></ng-content>
            </div>
        </div>
        <div class="col-md-2 col-md-push-3">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default panel-shadow">
                        <div class="panel-heading">Palette</div>
                        <div class="panel-body">
                            <ul class="fa-ul">
                                <li>
                                    <a href="#">
                                        <i class="fa-li fa fa-mouse-pointer"></i>
                                        Select
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-li fa fa-yelp"></i>
                                        Marquee
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="panel panel-default panel-shadow">
                        <div class="panel-heading">Shapes</div>
                        <div class="panel-body">
                            Shapes
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-md-pull-9">
            <div class="panel panel-default panel-shadow">
                <div class="panel-heading">Properties</div>
                <div class="panel-body">
                    This panel represents properties of any selected shape.
                    These are e.g. color, stroke, font-size, etc.
                    Properties can be edited. Changes reflects immediately in the drawing area.
                </div>
            </div>
        </div>
    </div>
</div>